@charset "UTF-8";

.button_init {
   padding: 0px 8px 0px 8px !important;
   font-size: .8em !important;
}

.button_all {
   padding: 0px 5px 0px 6px !important;
   font-size: .8em !important;
}

.button_sort {
   padding: 0px 20px 0px 20px !important;
   font-size: .8em !important;
}

.button_add {
   padding: 0px 25px 0px 5px !important;
   font-size: .8em !important;
}

.button_remove {
   padding: 0px 0px 0px 5px !important;
   font-size: .8em !important;
}

.button_up {
   padding: 0px 32px 0px 5px !important;
   font-size: .8em !important;
}

.button_down {
   padding: 0px 16px 0px 5px !important;
   font-size: .8em !important;
}

.button_vfy {
   padding: 0px 5px 0px 5px !important;
   font-size: .8em !important;
}

.button_1letter {
   padding: 0px 0px 0px 0px !important;
   font-size: .7em !important;
}

.button_2letter {
   padding: 0px 0px 0px 0px !important;
   font-size: .7em !important;
}

/* Background */
.bgcolor0 {
    background-color: #FFFFFF;
}

.bgcolor1 {
    background-color: #407A58;
}

.bgcolor2 {
    background: url('/static/desktop/images/misc/wallpaper3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* indent */
.idL15 {
    margin: 0px 0px 0px 15px;
}

/* DIV */
#user_err_msg {
  position: absolute;
  margin: 460px 0px 0px 650px;
  padding: 0px 0px 0px 0px;
  top: 0px;
  width: 200px;
  height: 100px;
  z-index: 2;
}

.quick_help {
    color: #817679;
    width: 250px;
}

/* table */
table.outline
{
   border:1px solid #E6F6FC;
   border-collapse:collapse;
}

td.w110 {
    width: 110px;
}

td.w70 {
    width: 70px;
}

td.w15 {
    width: 15px;
}

td.w_module {
    width: 40px;
}

td.h15 {
    height: 20px;
}

/* links */
a[href^="mailto"]:hover:after { content: " > Send E-mail" attr(title); }
a.underline:link,a.underline:visited 
{
	text-decoration:none;
	color:#2E64FE; 
	background-color:transparent;
}
a.underline:hover,a.underline:active 
{
	text-decoration:underline;
	color:#CC1188; 
	background-color:transparent;
}

a.underline2:link, a.underline2:visited 
{
	text-decoration: none;
	border-width: 1px;
	border-bottom-style: dotted;
	color:#000000;
	background-color:transparent;
}

a.underline2:hover, a.underline2:active 
{
	text-decoration:none;
	border-width: 1px;
	border-bottom-style: solid;
	color:#2E64FE;
	background-color:transparent;
}

/* Font */
.module_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.module_txtbox_frm {
    width: 72px;
    font-size: 10px;
}

.module_txtbox_output {
    width: 100px;
    font-size: 10px;
}

.module_txtbox_output2 {
    width: 220px;
    font-size: 10px;
}

.module_txtbox_query1 {
    width: 230px;
    font-size: 10px;
}


.module_txtbox_digit {
    width: 100px;
    font-size: 10px;
    text-align: right;
}


.st_font1 {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
}

.st_font2 {
    font-family: Arial, Helvetica, sans-serif;
}

.st_color1 {
    color: #FE2E9A;
}

.st_color2 {
    color: #FFFFFF;
}

.st_color3 {
    color: #257B9A;
}

.st_color4 {
    color: #D85C7F;
}

.st_color5 {
    color: #349BE0;
}

.st_color6 {
    color: #E4800D;
}

.st_color7 {
    color: #42842A;
}

.st_color8 {
    color: #B53977;
}

.st_size_s1 {
    padding: 10px 0px 0px 0px;
    font-size: 10px;
}
.st_size1 {
    font-size: 20px;
    line-height: 17px;
}

.st_size2 {
    font-size: 12px;
    line-height: 17px;
}

.st_size3sm {
    font-size: 12px;
    line-height: 12px;
}

.st_size3 {
    font-size: 15px;
    line-height: 15px;
}

.st_size4 {
    font-size: 10px;
    line-height: 10px;
}

.st_align_bulb {
    vertical-align: 2px;
}



.message_warn {
    color: #FE2E9A;
    font-weight: bold;
}

/* form information */
.prj_caption {
    text-align: left;
    width: 80px;
    vertical-align: top;
}

.prj_iform {
    text-align: left;
    width: 150px;
    vertical-align: top;
}

.sub_form_new {
    background-color: #D3E2FA;
}
.sub_form_edit {
    background-color: #F9E8FB;
}

/* margin */
.mspace10{
  height: 5px;
}

.mspace1{
  height: 15px;
}

.mspace2{
  height: 30px;
}

.mspace3{
  height: 35px;
}

.mspace4{
  height: 50px;
}

/* select */
.file_lists {
    width: 250px;
    height: 300px;
}

.psf_lists {
    width: 300px;
    height: 100px;
}

#list_wrapper {
    width: 7080;
    margin: auto;
}
#step1 .list_box1 {
    position: relative;
}

#step1 .list_box2 {
    position: relative;
    right: 5px;
}

.p_root {
    width: 500px;
}

/* text align */
.top {
    vertical-align: top;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.next-tab, .submit {
	background-color: #FFFFFF;
	float: right;
}

.prev-tab {
	background-color: #FFFFFF;
	float: left;
}

.mover {
	margin: 2em 0 0 0;
} 

