<script type="text/javascript">
var $j = jQuery.noConflict();
var cnt_helix_tilt_form = 0;		// count number of adding new form for calculating helix_tilt
var cnt_file_index = 0;
var cnt_helixtilt = 0;

$j(document).ready(function(){
    
    /* -------------------------------------------------------
     * Helix tilt
     * -------------------------------------------------------*/
    // helix tilt - counting selected module
    $j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_title").click(function() {
	var chk = $j(this).prop('checked');
	if (chk == true) {
	    $cnt_modules++;
	    cnt_helixtilt++;
	    /*
	    $j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_form #segID").empty().append("<option>segid</option>");
	    var uq_segid = mySystem["segid"];
	    for (var i = 0; i < uq_segid.length; i++) {
		options = "<option>" + uq_segid[i] + "</option>";
		$j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_form #segID").append(options);
	    }
	    $j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_form #segID").trigger("liszt:updated");
	    */
	} else {
	    $cnt_modules--;
	    cnt_helixtilt--;
	    if ($cnt_modules < 0) {
		$cnt_modules = 0;
	    }
	    if (cnt_helixtilt < 0) {
		cnt_helixtilt = 0;
	    }
	}
	$j("#cnt_modules").empty().append($cnt_modules);
	$j("#C_helixtilt #M_helixtilt #helix_tilt #cnt_helixtilt").empty().append(cnt_helixtilt);
    });
    
    //*** Helix tilt - hiding forms 
    $j("#C_helixtilt #M_helixtilt #helix_tilt_form").hide();
    $j("#C_helixtilt #M_helixtilt #helix_tilt_title").click(function () {
	$j("#C_helixtilt #M_helixtilt #helix_tilt_form").toggle(this.checked);
	//alert($j(this).is(":checked"));
    });

    //*** helix tilt - defining initial value and properties
    $j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_form input[id^='helix_tilt']").css("color", "gray");
    
    //*** Helix tilt - Adding forms
    $j("#C_helixtilt #M_helixtilt #helix_tilt_form_add").click(function() {
	cnt_helix_tilt_form++;
	cnt_file_index++;
	var h_tilt = '<tr id="helix_tilt_form_add_' + cnt_helix_tilt_form + '">'
		     + '<td class="bottom"><input id="helix_tilt_frmInt' + cnt_helix_tilt_form + '" class="module_txtbox_frm" type="text" name="helix_tilt_frmInt" value="1"></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td class="bottom"><input id="helix_tilt_outFile' + cnt_helix_tilt_form + '" class="module_txtbox_output" type="text" name="helix_tilt_outFile" value=' + '"helix_tilt' + cnt_file_index + '.dat"></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td><select data-placeholder="Choose a segment" class="chzn-select" style="width:100px;" id="segID' + cnt_helix_tilt_form + '" name="segID"></select></td>'
		     + '<td><select data-placeholder="Choose start residue" class="chzn-select" style="width:100px;" id="stRes' + cnt_helix_tilt_form + '" name="stRes"></select></td>'
		     + '<td><select data-placeholder="Choose final residue" class="chzn-select" style="width:100px;" id="edRes' + cnt_helix_tilt_form + '" name="edRes"></select></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td><button id="helix_tilt_form_del_' + cnt_helix_tilt_form + '" num_idx="' + cnt_helix_tilt_form + '"><span class="module_font">DELETE</span></button></td>'
		     + '</tr>';
	
	$j("#C_helixtilt #M_helixtilt #new_helix_tilt_frm").append(h_tilt);
	
	/* copy option values from sigID to sigID# */
	var new_segID = "#C_helixtilt #M_helixtilt #segID" + cnt_helix_tilt_form;
	$j('#C_helixtilt #M_helixtilt #segID option').clone().appendTo(new_segID);

	var new_stRes = "#C_helixtilt #M_helixtilt #stRes" + cnt_helix_tilt_form;
	$j('#C_helixtilt #M_helixtilt #stRes option').clone().appendTo(new_stRes);

	var new_edRes = "#C_helixtilt #M_helixtilt #edRes" + cnt_helix_tilt_form;
	$j('#C_helixtilt #M_helixtilt #edRes option').clone().appendTo(new_edRes);
	
	$j("#C_helixtilt #M_helixtilt #new_helix_tilt_frm").filter('.chzn-select').chosen(); // apply to top level elems
        $j("#C_helixtilt #M_helixtilt #new_helix_tilt_frm").find('.chzn-select').chosen();   // apply to nested elems
	$j("#C_helixtilt #M_helixtilt #helix_tilt #helix_tilt_form input[id^='helix_tilt']").css("color", "gray");
    });
    

    //*** Helix tilt -  deleting forms
    $j("#C_helixtilt #M_helixtilt #new_helix_tilt_frm button[id^='helix_tilt_form_del']").live("click", function() {
	idx = $j(this).attr('num_idx');
	var del_form = "#C_helixtilt #M_helixtilt #helix_tilt_form_add_" + idx;
	//alert("num_idx=" + idx + "del_form=" + del_form);
	$j(del_form).remove();
	
	// Initializing file name
	var outFile = [];
	var cnt = 0;
	$j("#C_helixtilt #M_helixtilt #new_helix_tilt_frm input[name='helix_tilt_outFile']").each(function() {
	    cnt++;
	    var new_file = "output" + cnt + ".dat";
	    $j(this).val('');
	    $j(this).val(new_file);
	    cnt_file_index = cnt;
	    if (cnt_file_index < 0) {
		cnt_file_index = 0;
	    }
	});

    });
    
    //*** Helix tilt - Live update for selecting segment
    $j("#C_helixtilt #M_helixtilt #helix_tilt_form select[name='segID']").live("change", function(){
	//alert("This click is from..: " + $j(this).attr('id'));
	var id_num = $j(this).attr("id").match(/[\d]+$/);
	//alert(id_num);
	if (!id_num) {
	    /*
	     if the origianl selection is chosen then do not trigger below
	     original selection is handled in index.html (around line #2661)
	    */ 
	    return false;
	}

	//alert("ID=" + $j(this).attr('id') + ", and number is " + $j(this).attr("id").match(/[\d]+$/));
	str_segID = "#C_helixtilt #M_helixtilt #segID" + id_num;
	str_Res   = "#C_helixtilt #M_helixtilt #stRes" + id_num + ", #C_helixtilt #M_helixtilt #edRes" + id_num;
	
	//alert("str_segID=" + str_segID + ", str_Res" + str_Res);

	bpath = $j("#proot option:selected").text();
	stfile = $j("#stfile option:selected").text();
	pdbfile = $j("#pdbfile option:selected").text();
	
	$j("#select_trj2 option").attr("selected", "selected"); 	// select all
	//$j("#select_trj2 option").tsort();				// do sort
	trjFile = $j("#select_trj2").val();				// get values
	segID = $j(str_segID).val();
	var sndData = {
	    'cmd'   	: 'get_segment',
	    'segID' 	: segID,
	    'bpath' 	: bpath,
	    'stfile'	: stfile,
	    'pdbfile'	: pdbfile,
	    'trjFile[]'	: trjFile,
	}
	
	var request = $j.ajax({
	type: "post",
	url: '/gui/get_segment/',
	cache: false,
	data: sndData,
	});
	    
	request.done(function(Jdata) {
	    var obj = $j.parseJSON(Jdata);
	    /* Display segments */
	    $j(str_Res).empty();
	    for (var i = 0; i < obj.resList.length; i++) {
		addStr = "<option value='" + obj.resID[i] + "'>" + obj.resID[i] + "-" + obj.resList[i] + "</option>";
		$j(str_Res).append(addStr);
		};
	    $j(str_Res).change();
	    $j(str_Res).trigger("liszt:updated");

	});
	return false;
    });

    
});
</script>

<div id="C_helixtilt">
    <table>
	<!--
	<tr>
	    <td colspan="2"><input type="checkbox" id="chk_protein"><span class="st_font1 st_size3 st_color6"><b>Protein (<span id="cnt_protein" class="st_font1 st_size3 st_color5">0</span>)</b></span></td>
	</tr>
	-->
	<tr><td colspan="2">
	    <table id="M_helixtilt">
		<!--- helix_tilt start-->
		<tr>
		    <!-- <td class="w_module"> </td> -->
		    <td>
			<div id="helix_tilt">
			    <table>
				<tr>
				    <td colspan="2" class="st_color7 left"><input type="checkbox" id="helix_tilt_title">Helix tilt (<span id="cnt_helixtilt" class="st_font1 st_size3 st_color5">0</span>)</td>
				</tr>
				<tr>
				    <td class="w_module"></td>
				    <td>
					<div id="helix_tilt_form">
					    <table>
						<tr><td>
						    <table>
							<tr>
							    <td class="bottom"><span class="module_font">Frame Interval</span></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><span class="module_font">Output File Name</span></td>
							    <td class="bottom w15"></td>
							    <td class="center module_font">Segments</td>
							    <td class="center module_font">Start</td>
							    <td class="center module_font">End</td>
							    <td class="bottom w15"></td>
							    <td class="center module_font">Add More</td>
							</tr>
							<tr>
							    <td class="bottom"><input id="helix_tilt_frmInt" class="module_txtbox_frm" type="text" name="helix_tilt_frmInt" value="1" ></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="helix_tilt_outFile" class="module_txtbox_output" type="text" name="helix_tilt_outFile" value="helix_tilt.dat"></td>
							    <td class="bottom w15"></td>
							    <td><select data-placeholder="Choose a segment" class="chzn-select" style="width:100px;" id="segID" name="segID"></select></td>
							    <td><select data-placeholder="Choose start residue" class="chzn-select" style="width:100px;" id="stRes" name="stRes"></select></td>
							    <td><select data-placeholder="Choose final residue" class="chzn-select" style="width:100px;" id="edRes" name="edRes"></select></td>
							    <td class="bottom w15"></td>
							    <td class="bottom w70"><button id="helix_tilt_form_add"><span class="module_font">Add</span></button></td>
							</tr>
							<tr>
							    <td colspan="9">
								<table id="new_helix_tilt_frm">
								</table>
							    </td>
							</tr>
							<!-- <tr><td colspan="9"><button id="test_submit">TEST Submit</button></td></tr> -->
						    </table>
						</td></tr>
					    </table>
					</div>
				    </td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<!--- helix tilt end --->
	    </table>
	</td></tr>
    </table>
</div>
<div id="test"></div>