<html>
<title>ST-analyzer</title>
<head>
<meta http-equiv="content-type" content="text/html: charset=utf-8" />
<meta http-equiv="content-type" content="cache" />
<meta name="robots" content="INDEX, FOLLOW" />
<meta name="keywords" content="Membrane analyzer" />
<meta name="description" content="Membrane Simulation and analyzer" />

<title>stanalyzer.org | ST-analyzer</title>

<link rel="stylesheet" href="/static/css/stanalyzer.css" type="text/css" media="screen">

<script type="text/javascript">    
    window.history.forward();
    function noBack() { 
	window.history.forward(); 
    }
</script>

</head>


<body class="bgcolor2" onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <center>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<form id="frmLogin" method='post' action='/gui/login/'>
	   {% csrf_token %}
	    <table>
		<!-- <tr><td class="center"><span class="st_font1 st_size1 st_color1">Member Area</span> <span class="st_font2 st_size2 st_color2">Enter your details and get logged in.</span></td></tr> -->
		<tr><td class="center"><span class="st_font1 st_size1 st_color1"><img src="/static/desktop/images/gui/st-analyzer-login_03.gif" width="90%"></span></td></tr>
		<tr><td class="left"><span class="st_font1 st_size3 st_color3">Username:</span></td></tr>
		<tr><td><input id="userID" name="userID" type="text" size=60></td></tr>
		<tr><td calss ="left"><span class="st_font1 st_size3 st_color3">Password:</span></td></tr>
		<tr><td><input id="pwd" name="pwd" type="password" size=60></td></tr>
		<tr><td class="right"><input type='submit' id="btnLogin" value='Login'></td></tr>
	    </table>
	</form>
	<div id="output"><span class="message_warn">{{ errMsg }}</span></div>
    </center>
</body>
</html>