<html>
<title>ST-Analyzer</title>
<head>
<meta http-equiv="content-type" content="text/html: charset=utf-8" />
<meta http-equiv="content-type" content="cache" />
<meta name="robots" content="INDEX, FOLLOW" />
<meta name="keywords" content="Membrane analyzer" />
<meta name="description" content="Membrane Simulation and analyzer" />

<title>stanalyzer.org | ST-Analyzer</title>

<link rel="stylesheet" href="/static/css/stanalyzer.css" type="text/css" media="screen">
 
</head>

<body class="bgcolor1">
    <center>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<form id="frmLogin" method='post' action='/gui/login/'>
	   {% csrf_token %}
	    <table>
		<tr><td class="center"><span class="st_font1 st_size1 st_color1">Member Area</span> <span class="st_font2 st_size2 st_color2">Enter your details and get logged in.</span></td></tr>
		<tr><td class="left"><span class="st_font1 st_size3 st_color2">Username:</span></td></tr>
		<tr><td><input id="userID" name="userID" type="text" size=60></td></tr>
		<tr><td calss ="left"><span class="st_font1 st_size3 st_color2">Password:</span></td></tr>
		<tr><td><input id="pwd" name="pwd" type="password" size=60></td></tr>
		<tr><td class="right"><input type='submit' id="btnLogin" value='Login'></td></tr>
	    </table>
	</form>
	<div id="output"><span class="message_warn">{{ errMsg }}</span></div>
    </center>
</body>
</html>