					    <tr><td class="bottom h15"></td></tr>
					    <tr>
						<td>
						    <table>
							<tr>
							    <td class="bottom"><span class="module_font">Frame Interval</span></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><span class="module_font">Output File Name</span></td>
							    <td class="bottom w15"></td>
							    <td></td><td></td><td></td><td></td><td></td><td></td>
							</tr>
							<tr>
							    <td class="bottom"><input id="density_frmInt" class="module_txtbox_output" type="text" name="density_frmInt"></td>	
							    <td class="bottom w15"></td>
							    <td class="bottom" colspan=7><input id="density_outFile" class="module_txtbox_output2" type="text" name="density_outFile"></td>
							    <td class="bottom"></td>
							</tr>
							<tr>
							    <td class="center"><span class="module_font">Axis</span></td>
							    <td class="bottom w15"></td>
							    <td class="center"><span class="module_font">Min</span></td>
							    <td class="bottom w15"></td>
							    <td class="center"><span class="module_font">Max</span></td>
							    <td class="bottom w15"></td>
							    <td class="center"><span class="module_font">Bin size</span></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"></td>
							    <td class="bottom"></td>
							</tr>
							<tr>
							    <td class="bottom">
								<select data-placeholder="Choose an axis" class="chzn-select" style="width:106px;" id="density_Axis_custom" name="density_Axis_custom">
								<option>Z</option>
								<option>Y</option>
								<option>X</option>
								</select>
							    </td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="density_hist_min" class="module_txtbox_digit" type="text" name="density_hist_min"></td>	
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="density_hist_max" class="module_txtbox_digit" type="text" name="density_hist_max"></td>	
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="density_hist_bin" class="module_txtbox_digit" type="text" name="density_hist_bin"></td>	
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="density_hist_tatoms" type="hidden" name="density_hist_tatoms"></td>
							    <td class="bottom"></td>
							</tr>
							<tr>
							    <td class="left bottom" colspan=8><textarea class="bottom" id="density_query" name="density_query" rows="2" cols="64"></textarea></td>
							    <td class="bottom">
								<table>
								    <tr><td><button id="density_btn_vfy"><span class="module_font">Verify</span></button></td></tr>
								    <tr><td><input type="checkbox" id="density_gquery">use GUI</td></tr>
								</table>
							    </td>
							    <td><button id="delete_density_form">delete</button></td>
							</tr>
							<!--- GUI query builder --->
							<tr id="density_gui_input">
							    <td colspan=9>
							    <table>
								<tr>
								    <td>
									<table>
									    <tr>
										<td><button id="btn_selall" class="button_2letter">ALL</button></td>
										<td><button id="btn_lt" class="button_2letter"><</button></td>
										<td><button id="btn_gt" class="button_2letter">></button></td>
										<td><button id="btn_eq" class="button_2letter">==</button></td>
										<td><button id="btn_ne" class="button_2letter">!=</button></td>
										<td><button id="btn_ge" class="button_2letter">>=</button></td>
										<td><button id="btn_le" class="button_2letter"><=</button></td>
										<td><button id="btn_and" class="button_2letter">AND</button></td>
										<td><button id="btn_or" class="button_2letter">OR</button></td>
										<td><button id="btn_not" class="button_2letter">NOT</button></td>
										<td><button id="btn_around" class="button_2letter">AROUND</button></td>
										<td><button id="btn_query_segid" class="button_2letter">SEGID</button></td>
									    </tr>
									</table>
								    </td>
								</tr>
								<tr>
								    <td>
									<table>
									    <tr>
										<td><button id="btn_query_resname" class="button_2letter">RESNAME</button></td>
										<td><button id="btn_query_resid" class="button_2letter">RESID</button></td>
										<td><button id="btn_query_name" class="button_2letter">NAME</button></td>
										<td><button id="btn_query_type" class="button_2letter">TYPE</button></td>
										<td><button id="btn_query_prop" class="button_2letter">PROP</button></td>
										<!-- <td><button id="btn_query_all" class="button_2letter">ALL</button></td> -->
										<td></td>
									    </tr>
									</table>
								    </td>
								</tr>
								<tr>
								    <td>
									<table>
									    <tr>
										<td>
										    <select data-placeholder="key words" class="chzn-select" style="width:100px;" id="keywords" name="keywords"></select>
										    <button id="btn_add_keywords">Add</button>
										</td>
										<td>
										    <select data-placeholder="segid" class="chzn-select" style="width:100px;" id="uq_segid" name="uq_segid"></select>
										    <button id="btn_add_segid">Add</button>
										</td>
										<td class="w15"></td>
										<td rowspan=3><div id="quick_help"></div></td>
									    </tr>
									    <tr>
										<td>
										    <select data-placeholder="resname" class="chzn-select" style="width:100px;" id="uq_resname" name="uq_resname"></select>
										    <button id="btn_add_resname">Add</button>
										</td>
										<td>
										    <select data-placeholder="resid" class="chzn-select" style="width:100px;" id="uq_resid" name="uq_resid"></select>
										    <button id="btn_add_resid">Add</button><span id="st_load"></span>
										</td>
										<td class="w15"></td>
									    </tr>
									    <tr>
										<td>
										    <select data-placeholder="name" class="chzn-select" style="width:100px;" id="uq_name" name="uq_name"></select>
										    <button id="btn_add_name">Add</button>
										</td>
										<td>
										    <select data-placeholder="type" class="chzn-select" style="width:100px;" id="uq_type" name="uq_type"></select>
										    <button id="btn_add_type">Add</button>
										</td>
										<td class="w15"></td>
									    </tr>
									</table>
								    </td>
								</tr>
							    </table>
							    </td>
							</tr>
							<tr><td id="vfy_msg" class="center message_warn" colspan=5></td></tr>
						    </table>
						</td>
					    </tr>
