<script type="text/javascript">
var $j = jQuery.noConflict();
var mySystem;		// this gloabl value containing system information defined in 'index.html' when $j('.next-tab').click() is trigged!

/* ##########################################
 * Main function starts
 * ########################################## */

var cnt_TEMPLATE = 0; // total number of options in this module  

$j(document).ready(function(){
    // Read system information from index.html when $j('.next-tab').click(function(){}); is triggered

/*----------------------------------------------------
 * Control events
 * ---------------------------------------------------*/
    // Hide options at first until the module is checked
    $j("#C_TEMPLATE #M_TEMPLATE #TEMPLATE2").hide();
    
    //---> Add count to total number of selected modules
    $j("#C_TEMPLATE #M_TEMPLATE #TEMPLATE1 #TEMPLATE_title").live("click", function() {
	$j("#vfy_msg").empty();
	var chk = $j(this).prop('checked');
	if (chk == true) {
	    $cnt_modules++; // global variable to count all selected modules
	    cnt_TEMPLATE++; // count options in this module
	    
	    /* ----- reading system information ----- */
	    // Reading total number of atoms
	    var num_total_atoms = $j("#step2 #num_atoms").text();	// total number of atoms in the system
	    var num_files = $j("#step2 #num_files").text();		// total number of selected trajectory files 
	    var frames_per_trj = $j("#step2 #num_frame").text();	// number of frames per a trajectory file (e.g. each DCD file)
	    var ps_per_frame = $j("#step2 #num_ps").text();		// duration of simulation for each frame in picoseconds
	    
	    // total number of atoms are required for parameter passing
	    $j("#C_TEMPLATE #M_TEMPLATE #TEMPLATE2 #TEMPLATE_hist_tatoms").empty().val(num_total_atoms);

	} else {
	    $cnt_modules--;
	    cnt_TEMPLATE--;
	    if ($cnt_modules < 0) {
		$cnt_modules = 0;
	    }
    	    if (cnt_TEMPLATE < 0) {
		cnt_TEMPLATE = 0;
	    }
	}
	$j("#C_TEMPLATE #M_TEMPLATE #TEMPLATE1 #cnt_TEMPLATE").empty().append(cnt_TEMPLATE); 	// updating currently selected options in this module
	$j("#cnt_modules").empty().append($cnt_modules);					// updating the count for all selected modules
	$j("#C_TEMPLATE #M_TEMPLATE #TEMPLATE2").toggle(this.checked);
    });
    
});
</script>

<div id="C_TEMPLATE">
    <table>
	<tr><td id="head_js_script"></td></tr>
    </table>
    <table>
	<tr>
	    <td colspan="2">
		<table id="M_TEMPLATE">
		    <!-- TEMPLATE contents start -->
		    <tr>
			<td>
			    <!-- displaying the name of module -->
			    <table id="TEMPLATE1">
				<tr>
				    <td class="st_color7 left">
					<input type="checkbox" id="TEMPLATE_title">TEMPLATE MODULE (<span id="cnt_TEMPLATE" class="st_font1 st_size3 st_color5">0</span>)
				    </td>
				</tr>
			    </table>
			    <!-- options for TEMPLATE1 -->
			    <table id="TEMPLATE2">
				<tr>
				    <td class="w_module"></td>
				    <td>
					<span class="module_font"><b>TEMPLATE options</b> </span>
					<input id="cnt_radio_TEMPLATE" type="radio" name="cnt_radio_TEMPLATE" value="yes">Yes
					<input id="cnt_radio_TEMPLATE" type="radio" name="cnt_radio_TEMPLATE" value="no">No
				    </td>
				</tr>
				<tr>
				    <td class="w_module"></td>
				    <td>
					<table>
					    <tr>
						<td class="bottom"><span class="module_font">Frame Interval</span></td>
						<td class="bottom w15"></td>
						<td class="bottom"><span class="module_font">Output File Name</span></td>
						<td class="bottom w15"></td>
						<td></td><td></td><td></td><td></td><td></td>
					    </tr>
					    <tr>
						<td class="bottom"><input id="TEMPLATE_frmInt" class="module_txtbox_output" type="text" name="TEMPLATE_frmInt"></td>	
						<td class="bottom w15"></td>
						<td class="bottom" colspan=7><input id="TEMPLATE_outFile" class="module_txtbox_output2" type="text" name="TEMPLATE_outFile"></td>
					    </tr>
					</table>
				    </td>
				</tr>
				<!-- having information about the system -->
				<tr><td class="bottom" colspan="12"><input id="TEMPLATE_hist_tatoms" type="hidden" name="TEMPLATE_hist_tatoms"></td></tr>
				<tr><td id="vfy_msg0" mygui="0" class="center message_warn" colspan="12"></td></tr>					    
			    </table>
			</td>
		    </tr>
		    <!-- TEMPLATE contents end  -->
		</table>
	    </td>
	</tr>
    </table>
    <table>
	<tr>
	    <td id=""bottom_js_script"></td>
	</tr>
    </table>
</div>
