<script type="text/javascript">
var $j = jQuery.noConflict();
var cnt_protein = 0;			// count number of checked modules in 'protein' category
var cnt_helix_tilt_form = 0;		// count number of adding new form for calculating helix_tilt
var cnt_file_index = 0;
var arr_h_tilt = [];			// array for adding new forms for calculating helix_tilt

$j(document).ready(function(){
    /* -------------------------------------------------------
     * Hiding protein module
     * -------------------------------------------------------*/
    $j("#protein #M_protein").hide();
    $j("#protein #chk_protein").click(function () {
	$j("#protein #M_protein").toggle(this.checked);
    });

    
    
    /* -------------------------------------------------------
     * Helix tilt
     * -------------------------------------------------------*/
    // helix tilt - counting selected module
    $j("#protein #M_protein #helix_tilt #helix_tilt_title").click(function() {
	var chk = $j(this).prop('checked');
	if (chk == true) {
	    cnt_protein++;
	} else {
	    cnt_protein--;
	    if (cnt_protein < 0) {
		cnt_protein = 0;
	    }
	}
	$j("#protein #cnt_protein").empty().append(cnt_protein);
    });
    
    //*** Helix tilt - hiding forms 
    $j("#protein #helix_tilt_form").hide();
    $j("#protein #helix_tilt_title").click(function () {
	$j("#protein #helix_tilt_form").toggle(this.checked);
	//alert($j(this).is(":checked"));
    });

    //*** helix tilt - defining initial value and properties
    $j("#protein #helix_tilt #helix_tilt_form input[id^='helix_tilt']").css("color", "gray");
    
    //*** Helix tilt - Adding forms
    $j("#protein #helix_tilt_form_add").click(function() {
	cnt_helix_tilt_form++;
	cnt_file_index++;
	var h_tilt = '<tr id="helix_tilt_form_add_' + cnt_helix_tilt_form + '">'
		     + '<td class="bottom"><input id="helix_tilt_frmInt' + cnt_helix_tilt_form + '" class="module_txtbox_frm" type="text" name="helix_tilt_frmInt" value="1"></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td class="bottom"><input id="helix_tilt_outFile' + cnt_helix_tilt_form + '" class="module_txtbox_output" type="text" name="helix_tilt_outFile" value=' + '"output' + cnt_file_index + '.dat"></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td><select data-placeholder="Choose a segment" class="chzn-select" style="width:100px;" id="segID' + cnt_helix_tilt_form + '" name="segID"></select></td>'
		     + '<td><select data-placeholder="Choose start residue" class="chzn-select" style="width:100px;" id="stRes' + cnt_helix_tilt_form + '" name="stRes"></select></td>'
		     + '<td><select data-placeholder="Choose final residue" class="chzn-select" style="width:100px;" id="edRes' + cnt_helix_tilt_form + '" name="edRes"></select></td>'
		     + '<td class="bottom w15"></td>'
		     + '<td><button id="helix_tilt_form_del_' + cnt_helix_tilt_form + '" num_idx="' + cnt_helix_tilt_form + '"><span class="module_font">DELETE</span></button></td>'
		     + '</tr>';
	
	$j("#protein #new_helix_tilt_frm").append(h_tilt);
	
	/* copy option values from sigID to sigID# */
	var new_segID = "#protein #segID" + cnt_helix_tilt_form;
	$('#protein #segID option').clone().appendTo(new_segID);

	var new_stRes = "#protein #stRes" + cnt_helix_tilt_form;
	$('#protein #stRes option').clone().appendTo(new_stRes);

	var new_edRes = "#protein #edRes" + cnt_helix_tilt_form;
	$('#protein #edRes option').clone().appendTo(new_edRes);
	
	$j("#protein #new_helix_tilt_frm").filter('.chzn-select').chosen(); // apply to top level elems
        $j("#protein #new_helix_tilt_frm").find('.chzn-select').chosen();   // apply to nested elems
	$j("#protein #helix_tilt #helix_tilt_form input[id^='helix_tilt']").css("color", "gray");
    });
    

    //*** Helix tilt -  deleting forms
    $j("#protein #new_helix_tilt_frm button[id^='helix_tilt_form_del']").live("click", function() {
	idx = $(this).attr('num_idx');
	var del_form = "#protein #helix_tilt_form_add_" + idx;
	//alert("num_idx=" + idx + "del_form=" + del_form);
	$j(del_form).remove();
	
	// Initializing file name
	var outFile = [];
	var cnt = 0;
	$j("#protein #new_helix_tilt_frm input[name='helix_tilt_outFile']").each(function() {
	    cnt++;
	    var new_file = "output" + cnt + ".dat";
	    $(this).val('');
	    $(this).val(new_file);
	    cnt_file_index = cnt;
	    if (cnt_file_index < 0) {
		cnt_file_index = 0;
	    }
	});

    });
    
    //*** Helix tilt - Live update for selecting segment
    $j("#protein #helix_tilt_form select[name='segID']").live("change", function(){
	//alert("This click is from..: " + $(this).attr('id'));
	var id_num = $(this).attr("id").match(/[\d]+$/);
	if (!id_num) {
	    /*
	     if the origianl selection is chosen then do not trigger below
	     original selection is handled in index.html
	    */ 
	    return false;
	}

	//alert("ID=" + $(this).attr('id') + ", and number is " + $(this).attr("id").match(/[\d]+$/));
	str_segID = "#protein #segID" + id_num;
	str_Res   = "#protein #stRes" + id_num + ", #protein #edRes" + id_num;
	
	//alert("str_segID=" + str_segID + ", str_Res" + str_Res);

	bpath = $j("#proot option:selected").text();
	stfile = $j("#stfile option:selected").text();
	pdbfile = $j("#pdbfile option:selected").text();
	
	$j("#select_trj2 option").attr("selected", "selected"); 	// select all
	//$j("#select_trj2 option").tsort();				// do sort
	trjFile = $j("#select_trj2").val();				// get values
	segID = $j(str_segID).val();
	var sndData = {
	    'cmd'   	: 'get_segment',
	    'segID' 	: segID,
	    'bpath' 	: bpath,
	    'stfile'	: stfile,
	    'pdbfile'	: pdbfile,
	    'trjFile[]'	: trjFile,
	}
	
	var request = $j.ajax({
	type: "post",
	url: '/gui/get_segment/',
	cache: false,
	data: sndData,
	});
	    
	request.done(function(Jdata) {
	    var obj = $j.parseJSON(Jdata);
	    /* Display segments */
	    $j(str_Res).empty();
	    for (var i = 0; i < obj.resList.length; i++) {
		addStr = "<option value='" + obj.resID[i] + "'>" + obj.resID[i] + "-" + obj.resList[i] + "</option>";
		$j(str_Res).append(addStr);
		};
	    $j(str_Res).change();
	    $j(str_Res).trigger("liszt:updated");

	});
	return false;
    });
    

    
    /* -------------------------------------------------------
     * RMSD
     * -------------------------------------------------------*/
    //*** RMSD - count module
    $j("#protein #M_protein #rmsd #rmsd_title").click(function() {
	var chk = $j(this).prop('checked');
	if (chk == true) {
	    cnt_protein++;
	} else {
	    cnt_protein--;
	    if (cnt_protein < 0) {
		cnt_protein = 0;
	    }
	}
	$j("#protein #cnt_protein").empty().append(cnt_protein);
    });

    //*** RMSD - hiding form and toggling
    $j("#protein #rmsd_form").hide();
    $j("#protein #rmsd_title").click(function () {
	$j("#protein #rmsd_form").toggle(this.checked);
    });

    //*** RMSD - initializing values
    $j("#protein #rmsd #rmsd_form #rmsd_outFile").empty().val("rmsd_ouput.dat");
    $j("#protein #rmsd #rmsd_form #rmsd_query_alig").empty().val("name CA");
    $j("#protein #rmsd #rmsd_form #rmsd_query_calc").empty().val("name CA");
    $j("#protein #rmsd #rmsd_form input[id^='rmsd']").css("color", "gray");
    $j("#protein #rmsd #rmsd_form textarea[id^='rmsd']").css("color", "gray");

    
    //*** RMSD - verifying atom selection for alignment
    $j("#protein #rmsd #rmsd_vfy_alig").click(function(){
	var query = $j("#protein #rmsd #rmsd_form #rmsd_query_alig").val().trim();
	var bpath = $j("#proot option:selected").text().trim();
	var stfile = $j("#stfile option:selected").text().trim();
	var pdbfile = $j("#pdbfile option:selected").text().trim();
	
	var vfy = chkSyntex(query);
	if (vfy["flag"]) {
	    $j("#protein #rmsd #vfy_msg_alig_rmsd").empty().append(vfy["err"]);
	    return false;
	}
	/* display waiting message */
	var msgWait = "Verifying the query... <img src='/static/images/circle2.gif' height='20' width='20' >"
	
	
	$j("#protein #rmsd #vfy_msg_alig_rmsd").empty().append(msgWait);
	    var sndData = {
		'cmd'       : 'verify',
		'query'	    : query,
		'bpath'	    : bpath,
		'stfile'    : stfile,
		'pdbfile'   : pdbfile,
	    }

        var request = $j.ajax({
        type: "POST",
        url: '/gui/verify_query/',
        cache: false,
        data: sndData,
        //async: false,
        });
		    
        request.done(function(Jdata) {
            var obj = $j.parseJSON(Jdata);
            $j("#protein #rmsd #vfy_msg_alig_rmsd").empty().append("Verified!");
            $j("#dlg_selInfo #dlg_msg").empty().append(obj.selInfo);
	    $j("#dlg_selInfo").dialog({
		resizable: true,
		modal: true,
		height:500,
                width:600,
	    });

        });
          
        request.error(function(jqXHR, textStatus, errorThrown) {
            $j("#protein #rmsd #vfy_msg_alig_rmsd").empty().append(errorThrown);
        });
    });

    //*** RMSD - varifying atom selection for RMSD calculation
    $j("#protein #rmsd #rmsd_vfy_calc").click(function(){
	var query = $j("#protein #rmsd #rmsd_form #rmsd_query_calc").val().trim();
	var bpath = $j("#proot option:selected").text().trim();
	var stfile = $j("#stfile option:selected").text().trim();
	var pdbfile = $j("#pdbfile option:selected").text().trim();
	
	var vfy = chkSyntex(query);
	if (vfy["flag"]) {
	    $j("#protein #rmsd #vfy_msg_calc_rmsd").empty().append(vfy["err"]);
	    return false;
	}
	/* display waiting message */
	var msgWait = "Verifying the query... <img src='/static/images/circle2.gif' height='20' width='20' >"
	
	
	$j("#protein #rmsd #vfy_msg_calc_rmsd").empty().append(msgWait);
	    var sndData = {
		'cmd'       : 'verify',
		'query'	    : query,
		'bpath'	    : bpath,
		'stfile'    : stfile,
		'pdbfile'   : pdbfile,
	    }

        var request = $j.ajax({
        type: "POST",
        url: '/gui/verify_query/',
        cache: false,
        data: sndData,
        //async: false,
        });
		    
        request.done(function(Jdata) {
            var obj = $j.parseJSON(Jdata);
            $j("#protein #rmsd #vfy_msg_calc_rmsd").empty().append("Verified!");
            $j("#dlg_selInfo #dlg_msg").empty().append(obj.selInfo);
	    $j("#dlg_selInfo").dialog({
		resizable: true,
		modal: true,
		height:500,
                width:600,
	    });

        });
          
        request.error(function(jqXHR, textStatus, errorThrown) {
            $j("#protein #rmsd #vfy_msg_calc_rmsd").empty().append(errorThrown);
        });
    });
    
    
    
    
    /* -------------------------------------------------------
     * RMSF
     * -------------------------------------------------------*/
    //*** RMSF- count module
    $j("#protein #M_protein #rmsf #rmsf_title").click(function() {
	var chk = $j(this).prop('checked');
	if (chk == true) {
	    cnt_protein++;
	} else {
	    cnt_protein--;
	    if (cnt_protein < 0) {
		cnt_protein = 0;
	    }
	}
	$j("#protein #cnt_protein").empty().append(cnt_protein);
    });
    
    //*** RMSF - hiding form and toggling
    $j("#protein #rmsf_form").hide();
    $j("#protein #rmsf_title").click(function () {
	$j("#protein #rmsf_form").toggle(this.checked);
    });

    //*** RMSF - initializing values
    $j("#protein #rmsf #rmsf_form #rmsf_outFile").empty().val("rmsf_ouput.dat");
    $j("#protein #rmsf #rmsf_form input[id^='rmsf']").css("color", "gray");
    $j("#protein #rmsf #rmsf_form #rmsf_query_alig").empty().val("name CA");
    $j("#protein #rmsf #rmsf_form #rmsf_query_calc").empty().val("segid PROA");
    $j("#protein #rmsf #rmsf_form textarea[id^='rmsf']").css("color", "gray");



    /* -------------------------------------------------------
     * Test form before submitting
     * -------------------------------------------------------*/
    $j("#protein #test_submit").click(function(){
	// check out return values
	var outFile = [];
	    $j("#protein #helix_tilt_form input[name='helix_tilt_outFile']").each(function() {
		outFile.push($(this).val());
	    });
	alert(outFile);
	
	var segIDs = [];
	$j("#protein #helix_tilt_form select[name='segID'] option:selected").each(function() {
		segIDs.push($(this).val());
	    });
	alert(segIDs);
	
	alert(segIDs);
	    var sndData = {
		'cmd'		: 'array_test',
		'segID[]'	: segIDs,
		'outFile[]'	: outFile,
	    }
	    
	    var request = $j.ajax({
	    type: "POST",
	    url: '/gui/test/',
	    cache: false,
	    data: sndData,
	    //async: false,
	    });
    
	    request.done(function(Jdata) {
		var obj = $j.parseJSON(Jdata);
		alert("OKay BAcK!" + obj.outFile);
	    });
	  
	    request.error(function(jqXHR, textStatus, errorThrown) {
		
	    });
    });
    

    //*** RMSF - verifying atom selection for alignment
    $j("#protein #rmsf #rmsf_vfy_alig").click(function(){
	var query = $j("#protein #rmsf #rmsf_form #rmsf_query_alig").val().trim();
	var bpath = $j("#proot option:selected").text().trim();
	var stfile = $j("#stfile option:selected").text().trim();
	var pdbfile = $j("#pdbfile option:selected").text().trim();
	
	var vfy = chkSyntex(query);
	if (vfy["flag"]) {
	    $j("#protein #rmsf #vfy_msg_alig_rmsf").empty().append(vfy["err"]);
	    return false;
	}
	/* display waiting message */
	var msgWait = "Verifying the query... <img src='/static/images/circle2.gif' height='20' width='20' >"
	
	
	$j("#protein #rmsf #vfy_msg_alig_rmsf").empty().append(msgWait);
	    var sndData = {
		'cmd'       : 'verify',
		'query'	    : query,
		'bpath'	    : bpath,
		'stfile'    : stfile,
		'pdbfile'   : pdbfile,
	    }

        var request = $j.ajax({
        type: "POST",
        url: '/gui/verify_query/',
        cache: false,
        data: sndData,
        //async: false,
        });
		    
        request.done(function(Jdata) {
            var obj = $j.parseJSON(Jdata);
            $j("#protein #rmsf #vfy_msg_alig_rmsf").empty().append("Verified!");
            $j("#dlg_selInfo #dlg_msg").empty().append(obj.selInfo);
	    $j("#dlg_selInfo").dialog({
		resizable: true,
		modal: true,
		height:500,
                width:600,
	    });

        });
          
        request.error(function(jqXHR, textStatus, errorThrown) {
            $j("#protein #rmsf #vfy_msg_alig_rmsf").empty().append(errorThrown);
        });
    });
    
    //*** RMSF - verifying atom selection for RMSF calculation
    $j("#protein #rmsf #rmsf_vfy_calc").click(function(){
	var query = $j("#protein #rmsf #rmsf_form #rmsf_query_calc").val().trim();
	var bpath = $j("#proot option:selected").text().trim();
	var stfile = $j("#stfile option:selected").text().trim();
	var pdbfile = $j("#pdbfile option:selected").text().trim();
	
	var vfy = chkSyntex(query);
	if (vfy["flag"]) {
	    $j("#protein #rmsf #vfy_msg_calc_rmsf").empty().append(vfy["err"]);
	    return false;
	}
	/* display waiting message */
	var msgWait = "Verifying the query... <img src='/static/images/circle2.gif' height='20' width='20' >"
	
	
	$j("#protein #rmsf #vfy_msg_calc_rmsf").empty().append(msgWait);
	    var sndData = {
		'cmd'       : 'verify',
		'query'	    : query,
		'bpath'	    : bpath,
		'stfile'    : stfile,
		'pdbfile'   : pdbfile,
	    }

        var request = $j.ajax({
        type: "POST",
        url: '/gui/verify_query/',
        cache: false,
        data: sndData,
        //async: false,
        });
		    
        request.done(function(Jdata) {
            var obj = $j.parseJSON(Jdata);
            $j("#protein #rmsf #vfy_msg_calc_rmsf").empty().append("Verified!");
            $j("#dlg_selInfo #dlg_msg").empty().append(obj.selInfo);
	    $j("#dlg_selInfo").dialog({
		resizable: true,
		modal: true,
		height:500,
                width:600,
	    });

        });
          
        request.error(function(jqXHR, textStatus, errorThrown) {
            $j("#protein #rmsf #vfy_msg_calc_rmsf").empty().append(errorThrown);
        });
    });
    
});
</script>

<div id="protein">
    <table>
	<tr>
	    <td colspan="2"><input type="checkbox" id="chk_protein"><span class="st_font1 st_size3 st_color6"><b>Protein (<span id="cnt_protein" class="st_font1 st_size3 st_color5">0</span>)</b></span></td>
	</tr>
	<tr><td colspan="2">
	    <table id="M_protein">
		<!--- helix_tilt start-->
		<tr>
		    <td class="w_module"> </td>
		    <td>
			<div id="helix_tilt">
			    <table>
				<tr>
				    <td colspan="2" class="st_color7 left"><input type="checkbox" id="helix_tilt_title">Helix tilt</td>
				</tr>
				<tr>
				    <td class="w_module"></td>
				    <td>
					<div id="helix_tilt_form">
					    <table>
						<tr><td>
						    <table>
							<tr>
							    <td class="bottom"><span class="module_font">Frame Interval</span></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><span class="module_font">Output File Name</span></td>
							    <td class="bottom w15"></td>
							    <td class="center module_font">Segments</td>
							    <td class="center module_font">Start</td>
							    <td class="center module_font">End</td>
							    <td class="bottom w15"></td>
							    <td class="center module_font">Add More</td>
							</tr>
							<tr>
							    <td class="bottom"><input id="helix_tilt_frmInt" class="module_txtbox_frm" type="text" name="helix_tilt_frmInt" value="1" ></td>
							    <td class="bottom w15"></td>
							    <td class="bottom"><input id="helix_tilt_outFile" class="module_txtbox_output" type="text" name="helix_tilt_outFile" value="output.dat"></td>
							    <td class="bottom w15"></td>
							    <td><select data-placeholder="Choose a segment" class="chzn-select" style="width:100px;" id="segID" name="segID"></select></td>
							    <td><select data-placeholder="Choose start residue" class="chzn-select" style="width:100px;" id="stRes" name="stRes"></select></td>
							    <td><select data-placeholder="Choose final residue" class="chzn-select" style="width:100px;" id="edRes" name="edRes"></select></td>
							    <td class="bottom w15"></td>
							    <td class="bottom w70"><button id="helix_tilt_form_add"><span class="module_font">Add</span></button></td>
							</tr>
							<tr>
							    <td colspan="9">
								<table id="new_helix_tilt_frm">
								</table>
							    </td>
							</tr>
							<!-- <tr><td colspan="9"><button id="test_submit">TEST Submit</button></td></tr> -->
						    </table>
						</td></tr>
					    </table>
					</div>
				    </td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<!--- helix tilt end --->
		
		<!--- RMSD start --->
		<tr>
		    <td class="w_module"> </td>
		    <td>
			<div id="rmsd">
			    <table>
				<tr>
				    <td colspan="2" class="st_color7 left"><input type="checkbox" id="rmsd_title">RMSD</td>
				</tr>
				<tr>
				    <td class="w_module"></td>
				    <td>
					<div id="rmsd_form">
					    <table>
						<tr>
						    <td class="bottom"><span class="module_font">Frame Interval</span></td>
						    <td class="bottom w15"></td>
						    <td class="bottom left"><span class="module_font">Output File Name</span></td>
						    <td class="bottom w15"></td>
						    <td></td><td></td><td></td><td></td>
						</tr>
						<tr>
						    <td class="bottom"><input id="rmsd_frmInt" class="module_txtbox_frm" type="text" name="rmsd_frmInt" value="1" ></td>
						    <td class="bottom w15"></td>
						    <td class="bottom left" colspan="5"><input id="rmsd_outFile" class="module_txtbox_output4" type="text" name="rmsd_outFile"></td>
						    <td></td>
						</tr>
						<tr>
						    <td class="bottom" colspan="8"><span class="module_font">Atom selection for alignment:</span></td>
						</tr>
						<tr>
						    <td class="left bottom" colspan="7"><textarea class="bottom" id="rmsd_query_alig" name="rmsd_query_alig" rows="2" cols="64"></textarea></td>
						    <td class="bottom">
						    <table>
							    <tr>
								    <td><button id="rmsd_vfy_alig"><span class="module_font">Verify</span></button></td>
							    </tr>
						    </table>
						    </td>
						</tr>
						<tr>
						    <td id="vfy_msg_alig_rmsd" class="center message_warn" colspan="8"></td>
						</tr>
					    
						<tr>
						    <td class="bottom" colspan="8"><span class="module_font">Atom selection for RMSD calculation:</span></td>
						</tr>
						<tr>
						    <td class="left bottom" colspan="7"><textarea class="bottom" id="rmsd_query_calc" name="rmsd_query_calc" rows="2" cols="64"></textarea></td>
						    <td class="bottom">
						    <table>
							    <tr>
								    <td><button id="rmsd_vfy_calc"><span class="module_font">Verify</span></button></td>
							    </tr>
						    </table>
						    </td>
						</tr>
						<tr>
						    <td id="vfy_msg_calc_rmsd" class="center message_warn" colspan="8"></td>
						</tr>
					    </table>
					</div>
				    </td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<!--- RMSD end --->
		
		<!-- RMSF start --->
		<tr>
		    <td class="w_module"> </td>
		    <td>
			<div id="rmsf">
			    <table>
				<tr>
				    <td colspan="2" class="st_color7 left"><input type="checkbox" id="rmsf_title">RMSF</td>
				</tr>
				<tr>
				    <td class="w_module"></td>
				    <td>
					<div id="rmsf_form">
					    <table>
						<tr>
						    <td class="bottom"><span class="module_font">Frame Interval</span></td>
						    <td class="bottom w15"></td>
						    <td class="bottom"><span class="module_font">Output File Name</span></td>
						    <td class="bottom w15"></td>
						    <td></td><td></td><td></td><td></td>
						</tr>
						<tr>
						    <td class="bottom"><input id="rmsf_frmInt" class="module_txtbox_frm" type="text" name="rmsf_frmInt" value="1" ></td>
						    <td class="bottom w15"></td>
						    <td class="bottom" colspan="5"><input id="rmsf_outFile" class="module_txtbox_output4" type="text" name="rmsf_outFile"></td>
						    <td></td>
						</tr>
						<tr>
						    <td colspan="8" class="module_font left"><input type="checkbox" id="rmsf_res_based">Calculate averages based each residue (* default: based on each atom)</td>
						</tr>
						<tr>
						    <td class="bottom" colspan="8"><span class="module_font">Atom selection for alignment:</span></td>
						</tr>
						<tr>
						    <td class="left bottom" colspan="7"><textarea class="bottom" id="rmsf_query_alig" name="rmsf_query_alig" rows="2" cols="64"></textarea></td>
						    <td class="bottom">
							<table>
							    <tr>
								<td><button id="rmsf_vfy_alig"><span class="module_font">Verify</span></button></td>
							    </tr>
							</table>
						    </td>
						</tr>
						<tr>
						    <td id="vfy_msg_alig_rmsf" class="center message_warn" colspan="8"></td>
						</tr>
					    
						<tr>
						    <td class="bottom" colspan="8"><span class="module_font">Atom selection for RMSF calculation:</span></td>
						</tr>
						<tr>
						    <td class="left bottom" colspan="7"><textarea class="bottom" id="rmsf_query_calc" name="rmsf_query_calc" rows="2" cols="64"></textarea></td>
						    <td class="bottom">
						    <table>
							<tr>
							    <td><button id="rmsf_vfy_calc"><span class="module_font">Verify</span></button></td>
							</tr>
						    </table>
						</tr>
						<tr>
						    <td id="vfy_msg_calc_rmsf" class="center message_warn" colspan="8"></td>
						</tr>
					    </table>
					</div>
				    </td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<!--- RMSD end --->
		
	    </table>
	</td></tr>
    </table>
</div>
<div id="test"></div>