<script type="text/javascript">
var $j = jQuery.noConflict();

$j(document).ready(function(){
    
    /* click button up */
    $j("#step1 #btn_up").click(function() {
	$j('#select_trj2 option:selected').each( function() {
	    var newPos = $j('#select_trj2 option').index(this) - 1;
	    if (newPos > -1) {
		$j('#select_trj2 option').eq(newPos).before("<option value='"+$j(this).val()+"' selected='selected'>"+$j(this).text()+"</option>");
		$j(this).remove();
	    } else {
		return false;
	    }
	});
	return false;
    });

    /* click button down */
    $('#step1 #btn_down').click(function() {
	var countOptions = $('#select_trj2 option').size();
	var countSelected = $('#select_trj2 option:selected').size();
	$('#select_trj2 option:selected').each( function() {
	    var newPos = $('#select_trj2 option').index(this) + countSelected;
	    if (newPos < countOptions) {
		$j('#select_trj2 option').eq(newPos).after("<option value='"+$j(this).val()+"' selected='selected'>"+$j(this).text()+"</option>");
		$(this).remove();
	    }
	});
    });
    
    /* click button sort */
    $j("#btn_sort").click(function(){
	var fList = [];
	$j("#select_trj2 option").each(function() {
	    fList.push($j(this).text());
	});
	
	var sndData = {
		     'cmd'	: 'sort_file',
		     'fList[]'	: fList,
		 }
		 
		 var request = $j.ajax({
		 type: "POST",
		 url: '/gui/fsort/',
		 cache: false,
		 data: sndData,
		 //async: false,
		 });
	 
		 request.done(function(Jdata) {
		     var obj = $j.parseJSON(Jdata);
		     $j("#select_trj2").empty();
		     for (var i = 0; i < obj.fList.length; i++) {
			options = "<option value='" + obj.fList[i] +"' selected='selected'>" + obj.fList[i] + "</option>";
			$j("#select_trj2").append(options);
		     }
		 });
	       
		 request.error(function(jqXHR, textStatus, errorThrown) {
		     //$j("#trj_load_error").empty().append("Unknown structure file or trajectory file!"); 
		 });
    });

});
</script>

<div id="tabs">
    <ul>
	<li><a href="#step1">STEP1</a></li>
	<li><a href="#step2">STEP2</a></li>
    </ul>
    <div id="step1">
	<hr/>
	<!-- <form id="defRoot" method='post' onsubmit="return rootValidation();"> -->
	    {% csrf_token %}
	    <table>
		<tr>
		    <!-- <td width="100" class="left">Job title</td>
		    <td>:</td> -->
		    <td class="left" colspan="3"><input type="hidden" id="job_title" name="job_title" value="analyzing trajectory" size=102></td>
		</tr>
		<tr>
		    <td width="100" class="left">Project</td>
		    <td>:</td>
		    <td class="left"><select id='prj'> </select>
			<button id="btn_newPrj">NEW</button>
			<button id="btn_editPrj">EDIT</button>
			<button id="btn_delPrj">DELETE</button>
		    </td>
		</tr>
		<tr>
		    <td></td><td></td>
		    <td>
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<!--- Add New Project								-->
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<div id="frm_newPrj">
			    <table class="sub_form_new" width="700">
				<tr>
				    <td class="prj_caption">Title</td>
				    <td class="prj_iform"><input type="text" name="title" size="50" id="title"></td>
				</tr>
				<tr>
				    <td class="prj_caption">Input path</td>
				    <td class="prj_iform"><input type="text" name="rpath" size="50" id="rpath"><button id="add_path">ADD</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="rpaths" multiple="multiple" name="rpaths[]" title="UNDO">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Output path</td>
				    <td class="prj_iform"><input type="text" id="out_path" name="out_path" size="50" ><button id="chk_out_path">CONFIRM</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="out_paths" multiple="multiple" name="out_paths[]" title="UNDO">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Python path</td>
				    <td class="prj_iform"><input type="text" id="python_path" name="python_path" size="50" ><button id="chk_python_path">CONFIRM</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="python_paths" multiple="multiple" name="python_paths[]" title="UNDO">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">PBS</td>
				    <td class="prj_iform"><textarea id="pbs" name="pbs" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
				    <td></td>
				    <td><button id="btn_setPrj">CREATE</button></td>
				</tr>
			    </table>
			</div>
			
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<!--- Project Editor 								-->
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<div id="frm_editPrj">
			    <table class="sub_form_edit" width="700">
				<tr>
				    <td class="prj_caption">Title</td>
				    <td class="prj_iform"><input type="text" name="title" size="50" id="title"></td>
				</tr>
				<tr>
				    <td class="prj_caption">Input path</td>
				    <td class="prj_iform"><input type="text" name="rpath" size="50" id="rpath"><button id="add_path">ADD</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="rpaths" multiple="multiple" name="rpaths[]" title="UNDO">
					    {% for path in path_inputs_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Output path</td>
				    <td class="prj_iform"><input type="text" id="out_path" name="out_path" size="50" ><button id="chk_out_path">CONFIRM</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="out_paths" multiple="multiple" name="out_paths[]" title="UNDO">
					    {% for path in path_outputs_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Python path</td>
				    <td class="prj_iform"><input type="text" id="python_path" name="python_path" size="50" ><button id="chk_python_path">CONFIRM</button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="python_paths" multiple="multiple" name="python_paths[]" title="UNDO">
					    {% for path in path_pythons_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">PBS</td>
				    <td class="prj_iform"><textarea id="pbs" name="pbs" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
				    <td></td>
				    <td><button id="btn_mdfPrj">UPDATE</button></td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<tr>
		    <td class="left">Input path</td><td>:</td>
		    <td class="left">
			<select id='proot' name="path_root">
			    {% for path in path_inputs_path%}
				<option>{{ path }}</option>
			    {% endfor %}

			</select>
		    </td>
		</tr>
		<tr>
		    <td class="left">Output path</td><td>:</td>
		    <td class="left">
			<select id='poutput' name="path_output">
			    {% for path in path_outputs_path%}
				<option>{{ path }}</option>
			    {% endfor %}

			</select>
		    </td>
		</tr>
		<tr>
		    <td class="left">Python path</td><td>:</td>
		    <td class="left">
			<select id='ppython' name="path_python">
			    {% for path in path_pythons_path%}
				<option>{{ path }}</option>
			    {% endfor %}

			</select>
		    </td>
		</tr>

		<tr>
		    <td class="left">Structure File</td><td>:</td>
		    <td class="left">
			<select data-placeholder="Choose structure file containing " id='stfile' name="stfile" class="chzn-select" style="width:300px;">
			    {% if fList.0 %}
				{% for fname in fList %}
				    <option value="{{ fname }}"> {{ fname }}</option>
				{% endfor %}
			    {% endif %}
			</select>
		    </td>
		</tr>
		<tr>
		    <td class="top left">Trajectories</td><td>:</td>
		    <td>
			<table>
			    <tr><td colspan=3  class="left"><input type="text" id="trjFilter" name="trjFilter" size=40>
			    <tr>
				<td>
				    <select id="select_trj1" class="file_lists" multiple='multiple' >
				    {% for fname in fList %}
				    <option value="{{ fname }}">{{ fname }}</option>
				    {% endfor %}
				   </select>
				</td>
				<td class="middle">
				    <button id="btn_add">ADD</button></br>
				    <button id="btn_remove">REMOVE</button></br>
				    <button id="btn_sort">SORT</button><br/>
				    <button id="btn_up">UP</button></br>
				    <button id="btn_down">DOWN</button></br>
				    <!--
				    <table>
					<tr>
					    <td><button id="btn_up">UP</button></td><td><button id="btn_down">DOWN</button></td>
					</tr>
				    </table>
				    -->
				    <button id="btn_all">Select All</button></br>
				    <button id="btn_init">Initialize</button></br>
				</td>
				<td>
				    <select id="select_trj2" class="file_lists" multiple='multiple' name='trjFile[]'>
				    </select>
				</td>
			    </tr>
			</table>
		    </td>
		</tr>

	    </table>
	    <div id="prjInfo"></div>
	    <div id='temp_output'></div>
	    <div id='err_root'></div>
	<!-- </form> -->
	<hr/>
    </div>

    <div id="step2">
	<!-- <form id="sendJob" method='post' onsubmit="return jobValidation();"> -->
	{% csrf_token %}
	
	<!------
	    ************************************************************
	    START: script to setup jobs
	    ************************************************************
	-------->
	
	<table width=800>
	    <tr>
		<td class="mspace2 left">
		    <span class="st_font1 st_size3"><b>Target machine for running jobs:</b> </span>
		    <input id="cluster" type="radio" name="machine" value="cluster">PBS
		    <input id="server" type="radio" name="machine" value="server">Interactive
		</td>
	    </tr>
	    <tr>
		<td class="mspace3">
		    <div id="trj_load_error" class="message_warn"></div>
		    <!---
			<span class="ui-icon ui-icon-lightbulb" style="display:inline-block"></span>
			<span class="st_font2 st_size3 st_color5 st_align_bulb">First trajectory contains <span id="num_frame" class="st_color8 ">#</span>  frames (<span id="num_ps" class="st_color8 ">#</span> ps/frame) and <span id="num_atoms" class="st_color8">#</span>  atoms</span>
			<span id="trj_load_error" class="message_warn"></span>
		    --->
		</td>
	    </tr>
	    <!---
		*******************************************************************************
		* Add the form of new Job or functions below: once new functions is added
		* plase modify function eval_step2() in line 65
		*******************************************************************************
	    --->
	    <!--- Category in System Information --->
	    <tr><td class="mspace1">{% include "gui/systemInfo.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/protein.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/DnaRna.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/carbohydrate.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/membrane.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/solvent.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/protein_DnaRna.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/protein_carbohydrate.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/protein_membrane.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/protein_solvent.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/DnaRna_solvent.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/carbohydrate_membrane.html" %}</td></tr>
	    <tr><td class="mspace1"></td></tr>
	    <tr><td class="mspace1">{% include "gui/carbohydrate_solvent.html" %}</td></tr>
	    
	<!-- systemInfo end --->
	<tr><td class="mspace1"></td></tr>
	</table>
	<!------
	    ************************************************************
	    END: script to setup jobs
	    ************************************************************
	-------->
	<!--- </form> --->
	<!-- <div id="ajaxLoading">Loading this file....</div> -->
	<div id="results"></div>
	<div id="dlg_confirm" title="Warning!">
	    <span id="dlg_msg"></span>
	    <!-- <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span></p> -->
	</div>
    </div>

</div>
