<script type="text/javascript">
/* read structure file (PDB) and return unqiue contents */
function getStructureInfo(query, async_flg) {
    var bpath = $j("#proot option:selected").text();
    var stfile = $j("#stfile option:selected").text();
    var pdbfile = $j("#pdbfile option:selected").text();
    $j("#select_trj2 option").attr("selected", "selected");
    var trjFile = $j("#select_trj2").val();
    
    var stInfo = [];
    var systemInfo = {
	'all' 		: stInfo,
    }
    var sndData = {
	'cmd'       : 'getStructure',
	'query'	    : query,
	'bpath'	    : bpath,
	'stfile'    : stfile,
	'pdbfile'   : pdbfile,
	'trjFile[]' : trjFile,
    }

    var request = $j.ajax({
    type: "POST",
    url: '/gui/getStructureInfo/',
    cache: false,
    data: sndData,
    async: async_flg,
    });
		
    request.done(function(Jdata) {
	var obj = $j.parseJSON(Jdata);
	var key_words_tmp = $.merge([], key_words);		// duplicate first array to prevent changing original array
	stInfo = $j.merge(key_words_tmp, obj.uq_resname); 	// unqiue residue name
	stInfo = $j.merge(stInfo, obj.uq_resid);		// unique residue IDs
	stInfo = $j.merge(stInfo, obj.uq_name);		// unique atom names
	stInfo = $j.merge(stInfo, obj.uq_segid);	// unique segment IDs
	stInfo = $j.merge(stInfo, obj.uq_type);		// unique types
	systemInfo['all']     = stInfo;
	systemInfo['resname'] = obj.uq_resname;
	systemInfo['resid']   = obj.uq_resid;
	systemInfo['name']    = obj.uq_name;
	systemInfo['segid']   = obj.uq_segid;
	systemInfo['type']    = obj.uq_type;
	systemInfo['crd_min'] = obj.crd_min;
	systemInfo['crd_max'] = obj.crd_max;
	systemInfo['num_atoms'] = obj.num_atoms;
	systemInfo['size_x'] = obj.size_x;
	systemInfo['size_y'] = obj.size_y;
	systemInfo['size_z'] = obj.size_y;
	
	/* fill out the information about density min and max */
	var smin = 0;
	var smax = 0;
	if (Math.abs(obj.crd_min) > Math.abs(obj.crd_max)) {
	    smin = obj.crd_min;
	    smax = Math.abs(obj.crd_min);
	} else {
	    smin = -1 * obj.crd_max;
	    smax = obj.crd_max;
	}
	var size_x = obj.size_x;
	var size_y = obj.size_y;
	var size_z = obj.size_z;
    });
      
    request.error(function(jqXHR, textStatus, errorThrown) {
	$j("#vfy_msg").empty().append("Error: PDB file cannot be read!");
    });

    return systemInfo;
}

var $j = jQuery.noConflict();

$j(document).ready(function(){
    /* click button up */
    $j("#step1 #btn_up").click(function() {
	$j('#select_trj2 option:selected').each( function() {
	    var newPos = $j('#select_trj2 option').index(this) - 1;
	    if (newPos > -1) {
		$j('#select_trj2 option').eq(newPos).before("<option value='"+$j(this).val()+"' selected='selected'>"+$j(this).text()+"</option>");
		$j(this).remove();
	    } else {
		return false;
	    }
	});
	return false;
    });

    /* click button down */
    $j('#step1 #btn_down').click(function() {
	var countOptions = $j('#select_trj2 option').size();
	var countSelected = $j('#select_trj2 option:selected').size();
	$j('#select_trj2 option:selected').each( function() {
	    var newPos = $j('#select_trj2 option').index(this) + countSelected;
	    if (newPos < countOptions) {
		$j('#select_trj2 option').eq(newPos).after("<option value='"+$j(this).val()+"' selected='selected'>"+$j(this).text()+"</option>");
		$j(this).remove();
	    }
	});
    });
    
    /* click button sort: for both lists */
    $j("#btn_sort").click(function(){
	var fList1 = [];
	var fList2 = [];
	$j("#select_trj1 option").each(function() {
	    fList1.push($j(this).text());
	});
	
	$j("#select_trj2 option").each(function() {
	    fList2.push($j(this).text());
	});
	
	var sndData = {
		     'cmd'	: 'sort_file',
		     'fList1[]'	: fList1,
		     'fList2[]'	: fList2,
		 }
		 
		 var request = $j.ajax({
		 type: "POST",
		 url: '/gui/fsort/',
		 cache: false,
		 data: sndData,
		 //async: false,
		 });
	 
		 request.done(function(Jdata) {
		     var obj = $j.parseJSON(Jdata);

		     $j("#select_trj1").empty();
		     for (var i = 0; i < obj.fList1.length; i++) {
			options = "<option value='" + obj.fList1[i] +"' selected='selected'>" + obj.fList1[i] + "</option>";
			$j("#select_trj1").append(options);
		     }
		     
		     $j("#select_trj2").empty();
		     for (var i = 0; i < obj.fList2.length; i++) {
			options = "<option value='" + obj.fList2[i] +"' selected='selected'>" + obj.fList2[i] + "</option>";
			$j("#select_trj2").append(options);
		     }
		 });
	       
		 request.error(function(jqXHR, textStatus, errorThrown) {
		     //$j("#trj_load_error").empty().append("Unknown structure file or trajectory file!"); 
		 });
    });

    
    /* File filtering FROM ~ TO */
    $j("#step1 #fromFile").keyup(function(e) {
	var key = e.which;
	//alert(key);
	if (key == 13 ) {
	    $j('#step1 #toFile').focus();
	}
	return false;
    });

    $j("#step1 #toFile").keyup(function(e) {
	var key = e.which;
	//alert(key);
	if (key == 13 ) {
	    $j('#step1 #btn_ftSel').focus();
	}
	return false;
    });
    
    $j('#step1 #fromFile').val('start file name').css({'color':'gray', 'font-size':'12px'});
    $j('#step1 #toFile').val('end file name').css({'color':'gray', 'font-size':'12px'});
    $j('#step1 #fromFile').focus(function() {
	//$j('#step1 #fromFile').val('');
	$j(this).css("color","black");
    });
    
    $j('#step1 #fromFile').focusout(function () {
	$j(this).css("color","gray");;
	});
    
    $j('#step1 #toFile').focus(function() {
	//$j('#step1 #toFile').val('');
	$j(this).css("color","black");
    });

    $j('#step1 #toFile').focusout(function () {
	$j(this).css("color","gray");;
    });

    $j('#step1 #btn_ftSel').live('click', function(){
	var txt = $j("#fromFile").val();
	var stFile = txt.trim();
	if (stFile.length < 1) {
	    alert("Start file name should be given!");
	    $j("#fromFile").focus();
	    return false;
	}

	var txt = $j("#toFile").val();
	var edFile = txt.trim();
	if (edFile.length < 1) {
	    alert("End file name should be given!");
	    $j("#toFile").focus();
	    return false;
	}
	
	
	fList = [];
	$j("#select_trj1").empty().append(orgOption).change();
	$j("#select_trj2 option").remove().change();
	$j("#select_trj1 option").each(function() {
	    fList.push($j(this).text());
	});

	var sndData = {
		     'cmd'	: 'pick_file',
		     'fList[]'	: fList,
		     'stFile'	: stFile,
		     'edFile'	: edFile,
		 }
		 
	var request = $j.ajax({
	type: "POST",
	url: '/gui/fsort/',
	cache: false,
	data: sndData,
	//async: false,
	});

	request.done(function(Jdata) {
	    var obj = $j.parseJSON(Jdata);
	    
	    $j("#select_trj1").empty();
	    for (var i = 0; i < obj.rList.length; i++) {
	       options = "<option value='" + obj.rList[i] +"' selected='selected'>" + obj.rList[i] + "</option>";
	       $j("#select_trj1").append(options);
	    }
	    
	    $j("#select_trj2").empty();
	    for (var i = 0; i < obj.sList.length; i++) {
	       options = "<option value='" + obj.sList[i] +"' selected='selected'>" + obj.sList[i] + "</option>";
	       $j("#select_trj2").append(options);
	    }
	    
	    $j("#step1 #num_sfiles").empty().append(obj.sList.length);
	    
	    if (obj.msg.length == 1) {
		msg = "File " + obj.msg[0] + " does not exist!";
		alert(msg);
	    } else if (obj.msg.length == 2) {
		msg = "File " + obj.msg[0] + " and " + obj.msg[2] + " does not exist!";
		alert(msg)
	    }

	});
      
	request.error(function(jqXHR, textStatus, errorThrown) {
	    //$j("#trj_load_error").empty().append("Unknown structure file or trajectory file!"); 
	});
	
	
    });
});
</script>

<div id="tabs">
    <ul>
	<li><a href="#step1">STEP1</a></li>
	<li><a href="#step2">STEP2</a></li>
    </ul>
    <div id="step1">
	<hr/>
	<!-- <form id="defRoot" method='post' onsubmit="return rootValidation();"> -->
	    {% csrf_token %}
	    <table>
		<tr>
		    <!-- <td width="100" class="left">Job title</td>
		    <td>:</td> -->
		    <td class="left" colspan="3"><input type="hidden" id="job_title" name="job_title" value="analyzing trajectory" size=102></td>
		</tr>
		<tr>
		    <td width="100" class="st_font1 left mspace3"><b>Project</b></td>
		    <td class="mspace3">:</td>
		    <td class="left mspace3"><select data-placeholder="Choose project containing" id="prj" name="prj" class="chzn-select" style="width:500px"> </select>
			<button id="btn_newPrj"><span class="module_font">New</span></button>
			<button id="btn_editPrj"><span class="module_font">Edit</span></button>
			<!-- <button id="btn_delPrj">DELETE</button> -->
		    </td>
		</tr>
		<tr>
		    <td></td><td></td>
		    <td>
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<!--- Add New Project								-->
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<div id="frm_newPrj">
			    <table class="sub_form_new" width="700">
				<tr>
				    <td class="prj_caption">Title</td>
				    <td class="prj_iform"><input type="text" name="title" size="50" id="title"></td>
				</tr>
				<tr>
				    <td class="prj_caption">Input path</td>
				    <td class="prj_iform"><input type="text" name="rpath" size="50" id="rpath"><button id="add_path"><span class="module_font">Add</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="rpaths" multiple="multiple" name="rpaths[]" title="Undo">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Output path</td>
				    <td class="prj_iform"><input type="text" id="out_path" name="out_path" size="50" ><button id="chk_out_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="out_paths" multiple="multiple" name="out_paths[]" title="Undo">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Python path</td>
				    <td class="prj_iform"><input type="text" id="python_path" name="python_path" size="50" ><button id="chk_python_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="python_paths" multiple="multiple" name="python_paths[]" title="Undo">
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Application path</td>
				    <td class="prj_iform"><input type="text" id="app_path" name=app_path" size="50" ><button id="chk_app_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="app_paths" multiple="multiple" name="app_paths[]" title="Undo">
					</select>
				    </td>
				</tr>

				<tr>
				    <td class="prj_caption">PBS</td>
				    <td class="prj_iform"><textarea id="pbs" name="pbs" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
				    <td></td>
				    <td><button id="btn_setPrj"><span class='module_font'>Create</span></button></td>
				</tr>
			    </table>
			</div>
			
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<!--- Project Editor 								-->
			<!-- ////////////////////////////////////////////////////////////////////////// -->
			<div id="frm_editPrj">
			    <table class="sub_form_edit" width="700">
				<tr>
				    <td class="prj_caption">Title</td>
				    <td class="prj_iform"><input type="text" name="title" size="50" id="title"></td>
				</tr>
				<tr>
				    <td class="prj_caption">Input path</td>
				    <td class="prj_iform"><input type="text" name="rpath" size="50" id="rpath"><button id="add_path"><span class='module_font'>Add</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="rpaths" multiple="multiple" name="rpaths[]" title="Undo">
					    {% for path in path_inputs_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Output path</td>
				    <td class="prj_iform"><input type="text" id="out_path" name="out_path" size="50" ><button id="chk_out_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="out_paths" multiple="multiple" name="out_paths[]" title="Undo">
					    {% for path in path_outputs_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Python path</td>
				    <td class="prj_iform"><input type="text" id="python_path" name="python_path" size="50" ><button id="chk_python_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="python_paths" multiple="multiple" name="python_paths[]" title="Undo">
					    {% for path in path_pythons_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">Application path</td>
				    <td class="prj_iform"><input type="text" id="app_path" name="app_path" size="50" ><button id="chk_app_path"><span class='module_font'>Confirm</span></button></td>
				</tr>
				<tr>
				    <td class="prj_caption"></td>
				    <td class="prj_iform">
					<select id="app_paths" multiple="multiple" name="app_paths[]" title="Undo">
					    {% for path in path_apps_path%}
						<option>{{ path }}</option>
					    {% endfor %}
					</select>
				    </td>
				</tr>
				<tr>
				    <td class="prj_caption">PBS</td>
				    <td class="prj_iform"><textarea id="pbs" name="pbs" rows="10" cols="50"></textarea></td>
				</tr>
				<tr>
				    <td></td>
				    <td><button id="btn_mdfPrj"><span class='module_font'>Update</span></button></td>
				</tr>
			    </table>
			</div>
		    </td>
		</tr>
		<!--- End create and Editor: go back to main menu --->
		<tr>
		    <td class="st_font1 left mspace3"><b>Input path</b></td><td class="mspace3">:</td>
		    <td class="left mspace3">
			<select data-placeholder="Choose input path file containing " id='proot' name="path_root" class="chzn-select" style="width:500px">
			    {% for path in path_inputs_path%}
				<option>{{ path }}</option>
			    {% endfor %}

			</select>
		    </td>
		</tr>
		<tr>
		    <td class="st_font1 left mspace3"><b>Output path</b></td><td>:</td>
		    <td class="left mspace3">
			<select data-placeholder="Choose output path file containing " id='poutput' name="path_output"  class="chzn-select" style="width:500px">
			    {% for path in path_outputs_path%}
				<option>{{ path }}</option>
			    {% endfor %}

			</select>
		    </td>
		</tr>
		<tr>
		    <td class="st_font1 left mspace3"><b>Python path</b></td><td class="mspace3">:</td>
		    <td class="left mspace3">
			<select data-placeholder="Choose python file containing " id='ppython' name="path_python" class="chzn-select" style="width:500px">
			    {% for path in path_pythons_path%}
				<option value="{{ path }}">{{ path }}</option>
			    {% endfor %}
			</select>
		    </td>
		</tr>

		<tr>
		    <td class="st_font1 left mspace3"><b>Structure file</b></td><td>:</td>
		    <td class="left mspace2">
			<select data-placeholder="Choose structure file containing " id='stfile' name="stfile" class="chzn-select" style="width:500px;">
			    {% if fList.0 %}
				{% for fname in fList %}
				    <option value="{{ fname }}"> {{ fname }}</option>
				{% endfor %}
			    {% endif %}
			</select>
		    </td>
		</tr>
		<tr>
		    <td class="st_font1 left mspace2"><b>PDB file</b></td><td>:</td>
		    <td class="left mspace2">
			<select data-placeholder="Choose PDB file containing " id='pdbfile' name="pdbfile" class="chzn-select" style="width:500px;">
			    {% if fList.0 %}
				{% for fname in fList %}
				    <option value="{{ fname }}"> {{ fname }}</option>
				{% endfor %}
			    {% endif %}
			</select>
		    </td>
		</tr>
		<tr>
		    <td class="st_font1 middle left mspace1"><b>Trajectories</b></td><td class="middle mspace1">:</td>
		    <td class="mspace3 left middle">
			<table>
			    <tr>
				<td>
				    <input type="text" id="trjFilter" name="trjFilter" size=17>
				</td>
				<td class="w15"></td>
				<td class="middle"><b>OR</b></td>
				<td class="w15"></td>
				<td>
				    <span class="st_size4">FROM</span> <input type="text" id="fromFile" name="fromFile" size=22>
				    <span class="st_size4">TO</span> <input type="text" id="toFile" name="toFile" size=22>
				    <button id="btn_ftSel"><span class="module_font">Select</span></button>
				</td>
			    </tr>
			</table>
		    </td>
		</tr>
	    </table>
	    <table>
		<tr><td class="mspace10"></td></tr>
	    </table>
	    <table>
		<tr>
		    <td class="w110"></td>
		    <td>
			<table>
			    <tr>
				<td class="mspace4">
				    <select id="select_trj1" class="file_lists" multiple='multiple' >
				    {% for fname in fList %}
				    <option value="{{ fname }}">{{ fname }}</option>
				    {% endfor %}
				   </select>
				</td>
				<td class="mspace4 middle">
				    <button id="btn_add" class="button_add">Add</button></br>
				    <button id="btn_remove" class="button_remove">Remove</button></br>
				    <br/>
				    <button id="btn_init" class="button_init">Clear</button></br>
				    <button id="btn_all" class="button_all">Select All</button></br>
				    <button id="btn_sort" class="button_sort">Sort</button><br/>
				    
				    <!-- <span class="st_size_s1">For selected items</span></br> -->
				    <br/>
				    <button id="btn_up" class="button_up">Up</button></br>
				    <button id="btn_down" class="button_down">Down</button></br>
				</td>
				<td class="mspace4">
				    <select id="select_trj2" class="file_lists" multiple='multiple' name='trjFile[]'>
				    </select>
				</td>
			    </tr>
			</table>
		    </td>
		</tr>
		<tr>
		    <td></td>
		    <td class="right st_color5"><b># selected files : <span id="num_sfiles" class="st_color4">0</span></b></td>
		</tr>
	    </table>
	    <div id="prjInfo"></div>
	    <div id='temp_output'></div>
	    <div id='err_root'></div>
	<!-- </form> -->
	<hr/>
    </div>

    <div id="step2">
	<!-- <form id="sendJob" method='post' onsubmit="return jobValidation();"> -->
	{% csrf_token %}
	
	<!------
	    ************************************************************
	    START: script to setup jobs
	    ************************************************************
	-------->
	
	<table width=800>
	    <tr>
		<td class="mspace2 left">
		    <span class="st_font1 st_size3"><b>Target machine for running jobs:</b> </span>
		    <input id="cluster" type="radio" name="machine" value="PBS">PBS
		    <input id="server" type="radio" name="machine" value="Interactive">Interactive
		</td>
	    </tr>
	    <tr>
		<td class="mspace4">
		    <div id="trj_load_error" class="message_warn"></div>
		    <!---
			<span class="ui-icon ui-icon-lightbulb" style="display:inline-block"></span>
			<span class="st_font2 st_size3 st_color5 st_align_bulb">First trajectory contains <span id="num_frame" class="st_color8 ">#</span>  frames (<span id="num_ps" class="st_color8 ">#</span> ps/frame) and <span id="num_atoms" class="st_color8">#</span>  atoms</span>
			<span id="trj_load_error" class="message_warn"></span>
		    --->
		</td>
	    </tr>
	    <tr>
		<td class="mspace2 left">
		    <span class="st_font1 st_size3 st_color6"><b>Total (<span id="cnt_modules" class="st_font1 st_size3 st_color5">0</span>) module(s) have been selected</b></span>
		</td>
	    </tr>
	    <!---
		*******************************************************************************
		* Add the form of new Job or functions below: once new functions is added
		* plase modify function eval_step2() in line 65
		*******************************************************************************
	    --->
	    <!--- Category in System Information --->
	    <tr><td class="mspace0">{% include "gui/aveperlipid.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/densityprofile.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/helixtilt.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/orderparameters.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/pdbconvert.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/rmsd.html" %}</td></tr>	    
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/rmsf.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/steroltilt.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/systemsize.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    <tr><td class="mspace0">{% include "gui/thickness.html" %}</td></tr>
	    <tr><td class="mspace0"></td></tr>
	    
	<!-- systemInfo end --->
	<tr><td class="mspace1"></td></tr>
	</table>
	<!------
	    ************************************************************
	    END: script to setup jobs
	    ************************************************************
	-------->
	<!--- </form> --->
	<!-- <div id="ajaxLoading">Loading this file....</div> -->
	<div id="results"></div>
	<div id="dlg_confirm" title="Warning!">
	    <span id="dlg_msg"></span>
	    <!-- <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span></p> -->
	</div>
    </div>

</div>
